body {
  font-family: Arial;
  background: #f4f6f8;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
}

h1 {
  color: #2c3e50;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 5px auto;
  padding: 8px;
  width: 200px;
  border-radius: 4px;
}
